.taskContainer {
  font-family: monospace;
  display: flex;
  flex-flow: column;
  border-radius: 1em;
  box-shadow: 0 0 3px rgb(175, 175, 175);
  width: 40%;
}
.addTask {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end !important;
}
.taskList {
  margin: 0;
  padding: 0;
}
.toggleDisplay {
  display: none !important;
}
h4 {
  margin-bottom: 5% !important;
}
li {
  -webkit-user-select: none !important;
  cursor: pointer !important;
  display: inline-block;
  margin: 2%;
  width: 89%;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  padding: 3.5%;
  border: 1px solid black;
  border-radius: 0.5rem;
  list-style-type: none;
}
.fas.fa-check {
  color: green;
}
.completed {
  background-color: rgba(163, 240, 163, 0.637);
}
.taskList p {
  color: rgb(255, 119, 119);
}
.tasks {
  display: none;
}
